!/log/.keep
!/storage/.keep
!/tmp/.keep
**.orig
*.bowerrc
*.codekit
*.codekit-cache
*.pem
*.rbc
*.scssc
*.swp
*~
.byebug_history
.chef/syntaxcache/*
.DS_Store
.idea
.powenv
.project
.rspec_status
.ruby-gemset
.rvmrc
.sass-cache/*
.secret
.yarn-integrity
/*.sublime-project
/*.sublime-workspace
/.bundle
/.env
/.vscode
/config/application.yml
/config/config.yml
/config/database.yml
/config/master.key
/config/provision/configs/settings.yml
/config/provision/keys
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/node_modules
/public/assets
/public/packs
/public/sitemap*
/public/system
/public/uploads
/spec/tmp
/storage/*
/tmp/*
/vendor/bundle
/yarn-error.log
bower.json
capybara-*.html
config/chef/.chef/syntaxcache
erd.pdf
gemsurance_report.html
icon
rerun.txt
secrets.yml
todo.md
yarn-debug.log*
